header{
    width: 100%;
    background-color: black;
    color: white;
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Estilos Cart Widget */
.containerCartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartWidget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartWidget svg{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin: -0.7rem 0.5rem 0.2rem;
}
.cartWidget p{
    background-color: black;
    padding: 0 2px;
    margin: 0 0.5rem 0;
    border-radius:25%;
    font-size: 0.8rem;
    font-weight: 1000;
}


.logo{
display: flex;
align-items: center;
justify-content: center;
}
.logo svg{
    color: white;
    font-size: 3rem;
}
.logo a{
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: white;
    font-size: 3 rem;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    font-size: 1.2rem;
}
.menu svg{
    color: white;
    font-size: 3rem;
}

.menu a{
    text-decoration: none;
    color: white;
    position: relative;
    margin: 0 1rem;
}
.menu a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color:  white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}
.menu a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

@media screen and (min-width: 320px) and (max-width:990px){
    .logo a{
        font-size: 2rem;
    }
    .logo svg{
        font-size: 2rem;
    }
    .menu{
        text-align: center;
    }
    .menu a{
        margin-left: auto;
        right: auto;
    }
    .containerCartWidget{
        position: absolute;
        top: 5.5px;
        right: 22%;
    }
    header button{
        border:none  !important;
    }
}