@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Great+Vibes&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

